#!/usr/bin/env zsh

export LC_ALL="${LC_ALL:-en_US.UTF-8}"
export LANG="${LANG:-en_US.UTF-8}"
export GORE_PAGER=less
export MANPAGER='less -X' # Don't clear the screen after quitting a manual page.

## Git
## $commands lookups and $TTY avoid forking a subshell on every startup
if (( $+commands[git] )); then
	export GPG_TTY=$TTY
	export GIT_MERGE_AUTOEDIT=no
fi

## Vim
if (( $+commands[vim] )); then
	export EDITOR=vim
fi
