# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Editor config file
.idea/
.vscode/

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Logs and local databases
*.log
*.sqlite3

# Others
.zsh_history
.zshrc.zwc
backup/*
tmp/**/*
Brewfile.lock.json
