#!/usr/bin/env zsh

## LANG sets the default for every locale category; leave LC_ALL for one-off overrides
export LANG="en_US.UTF-8"
export MANPAGER='less -X' # Don't clear the screen after quitting a manual page.

## Git
## $commands lookups and $TTY avoid forking a subshell on every startup
if (( $+commands[git] )); then
	export GPG_TTY=$TTY
	export GIT_MERGE_AUTOEDIT=no
fi

## Vim
if (( $+commands[vim] )); then
	export EDITOR=vim
fi
